body {
  margin: 0;
  padding: 0;
  width: 100%;
  background-color: #666;
}
.container {
  margin: auto;
  width: 60%;
  height: 100%;
  background-color: #fff;
}
.view {
  display: flex;
}

select {
  margin: auto;
}

.img_wrapper {
  width: 40%;
  height: auto;
  max-height: 100%;
  margin: auto 0 auto 0;
}

.thumbnail {
  max-width: 100%;
  max-height: 100%;
  width: auto;
  height: auto;
  /* background-image: url('/lain.jpg'); */
}

.slide_btn {
  width: 2em;
  height: 2em;
  margin: auto;
  /* padding: 1em 1em 1em 1em; */
}

.link {
  margin: auto;
  font-size: 2rem;
  width: auto;
  height: 30%;
  color: #666;
  align-items: center;
  align-content: center;
}